In [8]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [4]:
lr = LinearRegression()

In [9]:
npz = np.load("/Users/vambat1/Documents/Projects/Machine-Learning/03-ML-House-Price-Prediction/housing/artifact/data_transformation/2024-01-07-16-46-00/transformed_data/train/housing.npz")

In [16]:
df = pd.DataFrame(npz)

In [17]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,-0.941350,1.347438,0.027564,0.584777,0.640371,0.732602,0.556286,-0.893647,0.017395,0.006223,0.046298,0.000000,2.14609,0.0,0.0,0.00000,72100.0
1,1.171782,-1.192440,-1.722018,1.261467,0.781561,0.533612,0.721318,1.292168,0.569256,-0.040811,0.018269,0.000000,0.00000,0.0,0.0,2.98691,279600.0
2,0.267581,-0.125972,1.220460,-0.469773,-0.545138,-0.674675,-0.524407,-0.525434,-0.018024,-0.075371,-0.125247,0.000000,2.14609,0.0,0.0,0.00000,82700.0
3,1.221738,-1.351474,-0.370069,-0.348652,-0.036367,-0.467617,-0.037297,-0.865929,-0.595140,-0.106803,-0.051287,0.000000,0.00000,0.0,0.0,2.98691,112500.0
4,0.437431,-0.635818,-0.131489,0.427179,0.272790,0.374060,0.220898,0.325752,0.251241,0.006109,0.019188,2.014211,0.00000,0.0,0.0,0.00000,238300.0

In [20]:
df.columns

RangeIndex(start=0, stop=17, step=1)